@import "_variables";

/* -----------------------------------------------------------------------------

  Fonts

----------------------------------------------------------------------------- */

@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/oxygen/oxygen-v5-latin-300.eot');
  src: local('Oxygen Light'), local('Oxygen-Light'),
       url('../fonts/oxygen/oxygen-v5-latin-300.eot?#iefix') format('embedded-opentype'),
       url('../fonts/oxygen/oxygen-v5-latin-300.woff2') format('woff2'),
       url('../fonts/oxygen/oxygen-v5-latin-300.woff') format('woff'),
       url('../fonts/oxygen/oxygen-v5-latin-300.ttf') format('truetype'),
       url('../fonts/oxygen/oxygen-v5-latin-300.svg#Oxygen') format('svg');
}

@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/oxygen/oxygen-v5-latin-regular.eot');
  src: local('Oxygen'), local('Oxygen-Regular'),
       url('../fonts/oxygen/oxygen-v5-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/oxygen/oxygen-v5-latin-regular.woff2') format('woff2'),
       url('../fonts/oxygen/oxygen-v5-latin-regular.woff') format('woff'),
       url('../fonts/oxygen/oxygen-v5-latin-regular.ttf') format('truetype'),
       url('../fonts/oxygen/oxygen-v5-latin-regular.svg#Oxygen') format('svg');
}

@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/oxygen/oxygen-v5-latin-700.eot');
  src: local('Oxygen Bold'), local('Oxygen-Bold'),
       url('../fonts/oxygen/oxygen-v5-latin-700.eot?#iefix') format('embedded-opentype'),
       url('../fonts/oxygen/oxygen-v5-latin-700.woff2') format('woff2'),
       url('../fonts/oxygen/oxygen-v5-latin-700.woff') format('woff'),
       url('../fonts/oxygen/oxygen-v5-latin-700.ttf') format('truetype'),
       url('../fonts/oxygen/oxygen-v5-latin-700.svg#Oxygen') format('svg');
}

/* -----------------------------------------------------------------------------

  Root

----------------------------------------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: $color--neutral;
  background-color: #EFF6D5;
  font-family: $font-family--primary;
  font-size: $font-size--small;
  line-height: $line-height--medium;
}

/* -----------------------------------------------------------------------------

  Headings

----------------------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color--neutral-dark;
  font-weight: 700;
  line-height: $line-height--small;
}

/* -----------------------------------------------------------------------------

  Links

----------------------------------------------------------------------------- */

a {
  color: $color--theme;
  text-decoration: none;
}

a:hover {
  color: $color--theme-dark;
}

/* -----------------------------------------------------------------------------

  Text Stuff

----------------------------------------------------------------------------- */

b,
strong {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}